<%inherit file="base.html" />
    <h3>${pesan}</h3>
    <form action="" method="POST" accept-charset="utf-8">
        <p><label for="schedule">Tanggal</label>
        <input type="text" name="tanggal" id="tanggal"
        value="${event['tanggal']}" />
        </p>
        <p><label for="hari">Hari</label>
        <input type="text" name="hari" id="hari" value="${event['hari']}" />
        </p>
        <p><label for="event">Event</label>
        <% 
        import html2text
        agenda = html2text.html2text(event['agenda'])
        %>

        <input style="width: 300px;" type="text" name="event" id="event"
        value="${agenda}" /> &nbsp;
        <input type="text" name="counter" id="counter" value="0"
        class="input-mini" disabled />
        </p>
        <p><button type="submit" class="btn btn-primary">Save</button> <a
            href="${request.route_url('home')}" class="btn btn-danger">Back</a></p>
    </form> 
<%block name="js_after_footer">
<script type="text/javascript" charset="utf-8">
    $("#counter").val($("#event").val().length);
    $("#event").keydown(function() {
        $("#counter").val(parseInt($("#event").val().length));        
    });
</script>
</%block>
