<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>New Event</title>
    <script type="text/javascript"
        src="${request.static_url('iyaacalendar:static/jquery-1.7.1.js')}"></script>
</head>
<body>
    <form action="" method="POST" accept-charset="utf-8">
        <p><label for="schedule">Tanggal</label>
            <input type="text" name="tanggal" id="tanggal" value="" />
                Date Format: 22-02-2012 (dd-mm-yyyy)
              
        </p>
        <p><label for="hari">Hari</label>
            <input type="text" name="hari" id="hari" value="" />
        </p>
        <p><label for="event">Event</label>
            <input type="text" name="event" id="event" value=""
            style="width: 300px;" />
            <input type="text" name="counter" id="counter" value="0" disabled />
        </p>
        <p><input type="submit" value="Save"> <a
            href="${request.route_url('list')}">List Events</a></p>

    </form> 
    <script type="text/javascript" charset="utf-8">
        $("#counter").val($("#event").val().length);
        $("#event").keydown(function() {
            $("#counter").val(parseInt($("#event").val().length));        
        });
    </script>
</body>
</html>
