<%inherit file="base.html" />
  <table class="table table-striped" border="0">
    <thead>
      <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Event</th>
          <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
      % for data in events:
      <tr>
          <td>${data['tanggal']}</td>
          <td>${data['hari']}</td>
          <td>${data['agenda']}</td>
          <td><a href="${request.route_url('edit', event_id=data['_id'])}"><i
                class="icon-edit"></i> Edit</a></td>
          <td><a href="${request.route_url('delete', event_id=data['_id'])}"><i
                class="icon-trash"></i> Delete</a></td>
      </tr>
      % endfor
      </tbody>
    </table>
